* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

ul li {
  list-style: none; }

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #B5BDC6; }

textarea::-moz-input-placeholde,
input::-moz-input-placeholder {
  color: #B5BDC6; }

textarea::-o-input-placeholder,
input::-o-input-placeholder {
  color: #B5BDC6; }

.LoadingCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -999;
  font-size: 28px; }

:global .downSelect {
  left: 0;
  top: 0; }
  :global .downSelect .ant-calendar-date {
    border-radius: 50%; }
  :global .downSelect .ant-calendar-header a:hover {
    color: #58A7F8; }
  :global .downSelect .ant-calendar-header .ant-calendar-next-decade-btn,
  :global .downSelect .ant-calendar-header .ant-calendar-prev-month-btn,
  :global .downSelect .ant-calendar-header .ant-calendar-next-month-btn,
  :global .downSelect .ant-calendar-header .ant-calendar-prev-year-btn,
  :global .downSelect .ant-calendar-header .ant-calendar-next-year-btn {
    font-size: 22px; }
  :global .downSelect .ant-calendar-selected-date .ant-calendar-date,
  :global .downSelect .ant-calendar-selected-start-date .ant-calendar-date,
  :global .downSelect .ant-calendar-selected-end-date .ant-calendar-date,
  :global .downSelect .ant-calendar-selected-day .ant-calendar-date {
    background: #58A7F8;
    color: #ffffff; }
  :global .downSelect .ant-calendar-range .ant-calendar-in-range-cell:before {
    background: #D8E7F9; }
  :global .downSelect .ant-calendar-date:hover {
    border-radius: 50%;
    background: #58A7F8;
    color: #ffffff; }
  :global .downSelect .ant-calendar-today .ant-calendar-date {
    border-color: transparent;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65); }
  :global .downSelect .ant-calendar-disabled-cell .ant-calendar-date {
    width: 24px; }
:global .datepickerSelect .ant-calendar-range-picker-input {
  text-align: left; }
:global .datepickerSelect .ant-calendar-range-picker-separator {
  margin-right: 6px;
  font-size: 16px;
  font-weight: 600; }
:global .datepickerSelect input.ant-input {
  border: 1px solid transparent;
  border-radius: 2px;
  height: 30px;
  vertical-align: middle;
  font-family: PingFangSC;
  font-weight: 400;
  font-size: 14px;
  color: #485767;
  background-color: #F8F8F9; }
:global .datepickerSelect .ant-input:hover, :global .datepickerSelect.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border: 1px solid #DADEE2; }
:global .ant-calendar-header .ant-calendar-next-decade-btn,
:global .ant-calendar-header .ant-calendar-prev-month-btn,
:global .ant-calendar-header .ant-calendar-next-month-btn,
:global .ant-calendar-header .ant-calendar-prev-year-btn,
:global .ant-calendar-header .ant-calendar-next-year-btn {
  font-size: 22px; }
:global .ant-calendar-selected-date .ant-calendar-date,
:global .ant-calendar-selected-start-date .ant-calendar-date,
:global .ant-calendar-selected-end-date .ant-calendar-date,
:global .ant-calendar-selected-day .ant-calendar-date {
  background: #58A7F8;
  color: #ffffff; }
:global .ant-calendar-range .ant-calendar-in-range-cell:before {
  background: transparent; }
:global .ant-calendar-date:hover {
  border-radius: 50%;
  background: #D8E7F9;
  color: #ffffff; }
:global .ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date:before {
  left: 0px;
  border: 1px solid transparent; }
:global .ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date {
  padding-left: 0; }

/*# sourceMappingURL=datePicker.css.map */
