@import '../../../assets/css/custom.scss';
//提示信息
.partStatus {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 421px;
  height: 535px;
  background: #FFFFFF;
  box-shadow: 0 2px 13px 0 #F88359;
  border-radius: 12px;
  margin: -277.5px 0 0 -210.5px;
  text-align: -webkit-center;
  .partTitle {
    font-family: PingFangSC-Semibold;
    font-size: 40px;
    color: #F88359;
    letter-spacing: 0;
    line-height: 104px;
}
  .partIMG {
    width: 246px;
    height: 224px;
   display: flex;
    align-items: center;
    justify-content: center;
  }
  .partState {
    margin: 25px 0;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #262D53;
  }
  .negativeButton {
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 291px;
    height: 82px;
    line-height: 82px;
    background: #F88359;
    border-radius: 54px;
    margin-bottom: 28px;
    font-size: 24px;
    color: #ffffff;
  }
  .btnContainer {
    height: 82px;
  }
}

.shadowBox{
    position: absolute;
    z-index: 6;
    top: 45%;
    left: 50%;
    width: 170px;
    height: 200px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: -webkit-center;
    transform: translate(-50%,-50%);
    .success-icon {
      width: 100%;
      height: 100px;
      background: url("/images/submit.png") no-repeat center center;
      background-size: 70px;
      margin-top: 12px;
    }
    .fresh-icon{
        width: 100%;
        height: 100px;
        background: url("/images/refresh.png") no-repeat center;
        background-size: 70px;
    }
    .text{
      width: 80%;
      height: 80px;
      display: table-cell;
      vertical-align: middle;
          font-size: 28px;
    }
}
