@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style: none;
}

input::-webkit-input-placeholder {
  color: #9B9B9B;
}

textarea::-moz-input-placeholde {
  color: #9B9B9B;
}

input::-o-input-placeholder {
  color: #9B9B9B;
}

.containter {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(top, #FDD434, #F8E983, #F9E676, #FDD22C);
}

.popupModel {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 34, 32, 0.4);
  z-index: 10;
}

.popupModel {
  /*收件人信息*/
  /*二维码*/
  /*活动结束*/
}

.popupModel .userInfo {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 580px;
  height: 800px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 13px 0 #F88359;
  box-shadow: 0 2px 13px 0 #F88359;
  border-radius: 12px;
  text-align: -webkit-center;
  transform: translate(-50%, -50%);
}

.popupModel .userInfo .infoTitle {
  font-family: PingFangSC-Semibold;
  font-size: 42px;
  color: #F88359;
  letter-spacing: 0;
  line-height: 114px;
}

.popupModel .userInfo .infoState {
  color: #262D53;
  letter-spacing: 0;
  line-height: 29px;
  font-family: PingFangSC-Regular;
  font-size: 26px;
}

.popupModel .userInfo .mainForm {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.popupModel .userInfo .infoTable {
  height: 423px;
}

.popupModel .userInfo .infoTable tr td:first-child {
  text-align: left;
  color: #F88359;
}

.popupModel .userInfo .infoTable .fill_content_text input {
  width: 390px;
  height: 72px;
  border: 2px solid #F88359;
  border-radius: 8px;
  font-size: 28px;
  text-indent: 20px;
  font-family: PingFangSC-Regular;
  color: #262D53;
}

.popupModel .buttContainer .fill_submit {
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 463px;
  height: 82px;
  background: #F88359;
  border-radius: 100px;
  font-size: 28px;
  color: #ffffff;
}

.popupModel .unFocus {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 421px;
  height: 535px;
  background: #FFFFFF;
  box-shadow: 0 2px 13px 0 #F88359;
  border-radius: 12px;
  text-align: -webkit-center;
  margin: -277.5px 0 0 -210.5px;
}

.popupModel .unFocus .unFocusInner {
  height: 535px;
}

.popupModel .unFocus .QrCode {
  height: 382px;
}

.popupModel .unFocus .focusQrCode {
  margin-top: 54px;
}

.popupModel .unFocus .QrState {
  height: 58px;
  margin: 40px auto;
}

.popupModel .stopState {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -200px;
  text-align: center;
  font-size: 45px;
  color: #ffffff;
}

.popupModel .modelClose {
  width: 63px;
  height: 63px;
  background: url("/images/close.png") no-repeat center center;
  margin-top: 100px;
}
