@import '../../../assets/css/custom.scss';

.historyWrapper {
  height: 100%;
  .title {
    width: 100%;
    height: 129px;
    line-height: 129px;
    text-align: center;
    font-size: 36px;
    color: #F88359;
    letter-spacing: 0;
    font-weight: 600;
  }
  .content {
    overflow-x: hidden;
    overflow-y: scroll;
    // height: calc(100% - 350px);
    -webkit-overflow-scrolling: touch;
    .prompt {
      text-align: center;
      margin-top: 40%;
    }
    .prompt img {
      width: 240px;
      height: 240px;
    }
    .prompt p {
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #262D53;
      line-height: 30px;
      margin-top: 40px
    }
  }
  .lotteryBox {
    background: #FFFFFF;
    box-shadow: 0 2px 13px 0 #F88359;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 96px;
    width: 620px;
        display: flex;
  }

  .coupon {
    display: inline-block;
    width: 389px;
    font-size: 24px;
    line-height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
  }

  .doneBtn {
    width: 157px;
    height: 62px;
    line-height: 62px;
    background: #D5D5D5;
    border-radius: 8px;
    color: #ffffff;
    font-size: 24px;
    float: right;
    margin: 17px 25px 0 0;
  }
  .unDoneBtn {
    width: 157px;
    height: 62px;
    line-height: 62px;
    background: #F88359;
    border-radius: 8px;
    color: #ffffff;
    font-size: 24px;
    float: right;
    margin: 17px 25px 0 0;
  }
  .btn-coupon {
    background: #F88359;
  }

  .btn-post {
    background: #D5D5D5;
  }

  .againLottery {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%);
    .againBtn {
      -webkit-appearance: none;
      outline: none;
      width: 481px;
      border-radius: 100px;
      height: 82px;
      font-size: 28px;
      color: #FFFFFF;
      background: #F88359;
    }
  }
}
