.picture {
    width: 280px;
    height: 226px;
    padding: 14px;
    background: #FFFFFF;
}

.img {
    width: 100%;
    height: 198px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}